a {
  color: inherit;
  text-decoration: none;
}
.page-body {
  display: grid;
  grid-template-columns: max-content auto;
}
.main {
  padding: 0 1.5rem;
}
.btn {
  width: 150px;
  min-width: max-content;
  background: none;
  margin: 0 0.5rem 0 0;
  /* font-size: 1rem; */
  transition: all 0.3s ease;
}

.btn-edit:hover {
  background: orange !important;
  color: var(--mainWhite) !important;
}
.btn-delete:hover {
  background: red !important;
  color: var(--mainWhite) !important;
}

.active button {
  background: var(--mainBlack);
  color: var(--mainWhite);
}
.footer {
  padding: 1rem;
}

@media screen and (max-width: 480px) {
  .flex-container {
    margin: auto !important;
    padding: 0 !important;
  }
  .flex-item {
    flex: 1 100% !important;
    max-width: 100% !important;
    text-align: center !important;
    margin: auto !important;
  }

  code {
    font-size: 0.6rem !important;
  }
}
@media screen and (max-width: 980px) {
  .main {
    padding: 0 !important;
  }
  .grid {
    grid-template-columns: 100% !important;
  }
}
